In [64]:
import pandas as pd
import sqlite3
import numpy as np

In [65]:
df1 = pd.read_csv('final_tables/01-applicants-table.csv')
df2 = pd.read_csv('final_tables/02-applications-table.csv')
df3 = pd.read_csv('final_tables/03-marine-species-table.csv')
df5 = pd.read_csv('final_tables/05-sequences-table.csv')
df4 = pd.read_csv('final_tables/04-patents-sequences-table.csv')
df6 = pd.read_csv('final_tables/06-annotated-marine-proteins-table.csv')
df7 = pd.read_csv('final_tables/07-non-marine-sequences-table.csv')

In [66]:
#1 - Applicants
df1.columns = ['Applicant_name', 'Applicant_type', 'Applicant_country']

In [67]:
df1 = df1.drop_duplicates('Applicant_name')

In [68]:
#2 - Applications
df2.columns = ['Patent_application_number', 'Applicant_name', 'Year_of_application',
       'Patent_system']

In [71]:
df3.columns = ['Species_name', 'Domain', 'Phylum', 'Taxonomic_source', 'Is_Deep_sea',
       'Deep_sea_source', 'Is_marine_sequence']

In [73]:
#5 - Applications_Sequences
df4['ID'] = np.arange(len(df4))

In [74]:
df4.columns = ['Patent_application_number', 'Sequence_accession_number', 'ID']

In [75]:
df5.columns = ['Sequence_accession_number', 'Species_name', 'GC_content', 'Sequence_length',
       'Is_marine_sequence', 'Sequence_status', 'Is_protein_coding_sequence',
       'Is_annotated']

In [77]:
#7 - Marine_Sequences_Protein_Annotations
df6.columns = ['Sequence_accession_number', 'f_header', 'sseqid', 'stitle', 'pident', 'evalue',
       'qcovs', 'annotation_source']

In [78]:
df7.columns = ['Sequence_accession_number', 'Species_name']

In [79]:
df7['Is_marine_species'] = 0

### Merge sequences tables

In [80]:
df_sequences = pd.concat([df5, df7])

In [81]:
df_sequences['Is_marine_species'] = df_sequences['Is_marine_species'].fillna(1)

In [82]:
df_sequences.columns

Index(['Sequence_accession_number', 'Species_name', 'GC_content',
       'Sequence_length', 'Is_marine_sequence', 'Sequence_status',
       'Is_protein_coding_sequence', 'Is_annotated', 'Is_marine_species'],
      dtype='object')

In [83]:
#6 - Marine_Sequences
df_marine_sequences_information = df_sequences[df_sequences.Is_marine_sequence==1]

In [84]:
del df_marine_sequences_information['Is_marine_species']
#del df_marine_sequences_information['Is_marine_sequence']

In [85]:
df_marine_sequences_information

,Sequence_accession_number,Species_name,GC_content,Sequence_length,Is_marine_sequence,Sequence_status,Is_protein_coding_sequence,Is_annotated
0,A01472,Physeter macrocephalus,51.826484,438.0,1.0,predicted,True,1.0
1,A01473,Physeter macrocephalus,50.967742,465.0,1.0,predicted,True,1.0
2,A01474,Trichechus manatus latirostris,55.483871,465.0,1.0,predicted,True,1.0
3,A04570,Odobenus rosmarus divergens,53.809524,210.0,1.0,predicted,True,1.0
4,A04571,Odobenus rosmarus divergens,53.809524,210.0,1.0,predicted,True,1.0
...,...,...,...,...,...,...,...,...
104462,PA548965,Rhodothermus marinus,62.593783,1866.0,1.0,observed,True,0.0
104463,PA548966,Rhodothermus marinus,62.593783,1866.0,1.0,observed,False,0.0
104464,PA548992,Pyrococcus furiosus,47.637457,2328.0,1.0,observed,True,1.0
104465,PA550739,Anabaena cylindrica pcc 7122,45.147059,1360.0,1.0,observed,True,0.0
104466,PA550742,Anabaena cylindrica pcc 7122,38.271605,1053.0,1.0,observed,False,0.0

In [86]:
#4 - Sequences
df_sequences_all = df_sequences[['Sequence_accession_number', 'Species_name', 'Is_marine_species']]

In [87]:
df_sequences_all = df_sequences_all.drop_duplicates('Sequence_accession_number')

In [89]:
def create_tables():
    cursor = conn.cursor()

    # Enable foreign key constraint
    cursor.execute("PRAGMA foreign_keys = ON;")

    # Correct table creation for Applicants
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Applicants (
        Applicant_name TEXT PRIMARY KEY,
        Applicant_type TEXT,
        Applicant_country TEXT
    )
    ''')

    # Correct table creation for Applications
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Applications (
        Patent_application_number TEXT PRIMARY KEY,
        Applicant_name TEXT,
        Year_of_application TEXT,
        Patent_system TEXT,
        FOREIGN KEY (Applicant_name) REFERENCES Applicants (Applicant_name)
    )
    ''')

    # Correct table creation for Marine Species
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Marine_Species (
        Species_name TEXT PRIMARY KEY,
        Domain TEXT,
        Phylum TEXT,
        Taxonomic_source TEXT,
        Is_deep_sea INTEGER,
        Deep_sea_source TEXT
    )
    ''')
    
    # Correct table creation for Sequences
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Sequences (
        Sequence_accession_number TEXT PRIMARY KEY,
        Species_name TEXT,
        Is_marine_species INTEGER
    )
    ''')


    # Correct table creation for Applications_Sequences
    # This table needs its own primary key, and the foreign keys should be defined after the column definitions.
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Applications_Sequences (
        Patent_application_number TEXT,
        Sequence_accession_number TEXT,
        ID INTEGER PRIMARY KEY,
        FOREIGN KEY (Patent_application_number) REFERENCES Applications (Patent_application_number),
        FOREIGN KEY (Sequence_accession_number) REFERENCES Sequences (Sequence_accession_number)
    )
    ''')
    
    # Correct table creation for Marine Sequences
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Marine_Sequences (
        Sequence_accession_number TEXT PRIMARY KEY,
        Species_name TEXT,
        GC_content TEXT,
        Sequence_length TEXT,
        Sequence_status TEXT,
        Is_protein_coding_sequence INTEGER,
        Is_annotated INTEGER,
        FOREIGN KEY (Species_name) REFERENCES Marine_Species (Species_name),
        FOREIGN KEY (Sequence_accession_number) REFERENCES Sequences (Sequence_accession_number)
    )
    ''')

    # Correct table creation for Annotations
    # This table also needs at least one column defined before foreign keys, possibly a primary key.
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS Marine_Sequences_Protein_Annotations (
        Sequence_accession_number TEXT PRIMARY KEY,
        f_header TEXT,
        sseqid TEXT,
        stitle TEXT,
        pident TEXT,
        evalue TEXT,
        qcovs TEXT,
        annotation_source TEXT,
        FOREIGN KEY (Sequence_accession_number) REFERENCES Marine_Sequences (Sequence_accession_number)
    )
    ''')

    conn.commit()

In [93]:
del df3['Is_marine_sequence']

In [97]:
del df_marine_sequences_information['Is_marine_sequence']

In [99]:
# Create a SQLite database
conn = sqlite3.connect('mabpat.db')

# Create the tables
create_tables()

# Export DataFrames to SQLite database
df1.to_sql('Applicants', conn, if_exists='append', index=False)
df2.to_sql('Applications', conn, if_exists='append', index=False)
df3.to_sql('Marine_Species', conn, if_exists='append', index=False)

df_sequences_all.to_sql('Sequences', conn, if_exists='append', index=False)
df4.to_sql('Applications_Sequences', conn, if_exists='append', index=False)
df_marine_sequences_information.to_sql('Marine_Sequences', conn, if_exists='append', index=False)
df6.to_sql('Marine_Sequences_Protein_Annotations', conn, if_exists='append', index=False)

#df6.to_sql('Annotations', conn, if_exists='append', index=False)

# Close the connection
conn.close()

In [100]:
conn.close()